body{
    background-image: url(../images/image-hero-mobile.jpg);
    background-color: hsl(0, 0%, 92%);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Commissioner", sans-serif;
    box-sizing: border-box;
}
.modal{
    box-shadow: 0 0 10px 1000vh rgba(0, 0, 0, 0.504)
}
input[type='radio']{
    border: none;
    
    outline: none;
    transform: scale(1.5);
}
@media (min-width: 760px) {
    body{
        background-image: url(../images/image-hero-desktop.jpg);
    }
}