body{
    background-image: url(../images/image-hero-mobile.jpg);
    background-color: hsl(0, 0%, 92%);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Commissioner", sans-serif;
}